.env
terraform.tfvars
.terraform
.terraform.lock.hcl
terraform.plan.out
ansible/roles/fail2ban/files/jail.local
ansible/roles/sysadmin/files/sshd_config
ansible/roles/sysadmin/defaults/*
terraform.tfstate*/
